<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>index.jsp</display-name>
    <context-param>
        <description>Switch off caching. You can remove this parameter or comment it out when this app goes into production.</description>
        <param-name>jmaki-usecache</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Usado para armazenar as imagens dos produtos</description>
        <param-name>imagenURL</param-name>
        <param-value>http://localhost:8084/livraria/imagens</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletEditora</servlet-name>
        <servlet-class>controlador.ServletEditora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>controlador.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutor</servlet-name>
        <servlet-class>controlador.ServletAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>controlador.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLivro</servlet-name>
        <servlet-class>controlador.ServletLivro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPublicacao</servlet-name>
        <servlet-class>controlador.ServletPublicacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>util.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaPOJO</servlet-name>
        <servlet-class>pojo.pesquisaPOJO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPortal</servlet-name>
        <servlet-class>controlador.ServletPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>controlador.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCarrinho</servlet-name>
        <servlet-class>controlador.ServletCarrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditora</servlet-name>
        <url-pattern>/ServletEditora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutor</servlet-name>
        <url-pattern>/ServletAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLivro</servlet-name>
        <url-pattern>/ServletLivro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPublicacao</servlet-name>
        <url-pattern>/ServletPublicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaPOJO</servlet-name>
        <url-pattern>/pesquisaPOJO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPortal</servlet-name>
        <url-pattern>/Portal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/Principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPublicacao</servlet-name>
        <url-pattern>/Pesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPublicacao</servlet-name>
        <url-pattern>/Publicacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCarrinho</servlet-name>
        <url-pattern>/Carrinho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    </web-app>
